body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 2rem;
    margin: 20px 0;
}

header p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.burger-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.burger-item {
    background-color: #1c1c1c;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column; /* Organiza los hijos en una columna */
    justify-content: space-between; /* Asegura que la imagen y el h2 estén separados */
    height: 250px; /* Ajusta la altura para que todos sean del mismo tamaño */
    width: 100%; /* Puedes ajustar el ancho según tus necesidades */
    box-sizing: border-box;
}

.burger-item:hover {
    transform: scale(1.05);
}

.burger-item img {
    width: 100%;
    height: auto;
    max-height: 70%; /* Limita la altura máxima de la imagen para dejar espacio al h2 */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
}

.burger-item h2 {
    color: #f7b500;
    font-size: 1.2rem;
    margin: 10px 0 0 0; /* Ajusta el margen superior para separar el h2 de la imagen */
    text-align: center; /* Centra el texto horizontalmente */
}



.back-btn {
    background-color: black;
    border: none;
    padding: 5px; /* Reducir padding para ajustar el tamaño total del botón */
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex; /* Asegura que la imagen se alinee bien dentro del botón */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    width: 10px; /* Ajusta el tamaño del botón */
    height: 10px; /* Ajusta el tamaño del botón */
}

.back-btn img {
    width: 10px; /* Ajusta el tamaño de la imagen dentro del botón */
    height: auto;
}

.header img{
    width: 100px;
    height: auto;
    margin: 10px;
}

.details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

.details-section img {
    width: 300px;
    height: auto;
    border-radius: 15px;
}

.vote-form {
    margin-top: 20px;
    
}

.vote-form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
}

.vote-form button {
    padding: 10px 20px;
    background-color: #f7b500;
    border: none;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
}

